@font-face {
    font-family: Colab;
    src: url(fonts/ColabReg.otf);
}
@font-face {
    font-family: Raleway-Regular;
    src: url(fonts/Raleway-Thin.ttf);
}
@font-face {
    font-family: LeagueGothic-Regular;
    src: url(fonts/LeagueGothic-Regular.ttf);
}
@font-face {
    font-family: Existence-light;
    src: url(fonts/Existence-light.otf);
}
