@font-face {
    font-family: Colab;
    src: url(fonts/ColabReg.otf);
}
@font-face {
    font-family: Raleway-Regular;
    src: url(fonts/Raleway-Thin.ttf);
}
@font-face {
    font-family: LeagueGothic-Regular;
    src: url(fonts/LeagueGothic-Regular.otf);
}
@font-face {
    font-family: Existence-light;
    src: url(fonts/Existence-light.otf);
}
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
   background-image: url("images/postcoupon-bg.jpg");

   background-size:2000px 2000px;
     background-repeat:no-repeat;
    font-family: 'Raleway-Regular', sans-serif;
}

a {
  text-decoration: none;
  color: #1ab188;

}
a:hover {
  color: #179b77;
}
.container{
  position: absolute;
  top:110px;
}
.form {
  background: #fff;
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #131313;
  color: #ffffff;
}
.tab-group .active a {
  background: #2b2b2b;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: #2c2c2c;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;

}
label .req {
  margin: 2px;
  color:  #a0b3b0;
}

label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
    color: #a0b3b0;
}

input, textarea {
  font-size: 15px;
  display: block;
  width: 100%;
  height:35px;
    font-weight: 900;
  padding: 10px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
    color: black;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;

}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {

  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background:  #ffffff;
  color: #2c2c2c;
  border: 1px solid #2b2b2b;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background:  #2b2b2b;
  color: #fff;
  border: none;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones */


    .footer-distributed{
      bottom:-750px;
    }
    .slide-container,.carousel-controls{
      visibility: hidden;

    }
    .secondary-navbar{
      visibility: hidden;

    }

    .footer-distributed{
      bottom:-750px;
    }
    .coupons ul li{
      width:100%;
    }
    .position{
      position: absolute;
      top: 1000px;

    }
}
  /* request pending page css */
.adjust{
  height: 80%;
}
.adjust .form{
  font-weight: 900!important;
}
  /* request edit account css */
.coupon-logo{
  width:80%;
  height:auto;

}
.btn-style-2{
  text-align: center;
  height:40px;
  padding-top: 8px;
  font-size: 20px;
  width:200px;
  border: 1px solid #a0b3b0;
  background-color: #fff;
  color: #a0b3b0;

}
.btn-style-2:hover{
  border: 1px solid #2c2c2c;
  color: #2c2c2c;
}
